html {

	background-color: #white;

}

nav {
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline;
}

.quoting {
	font-style: italic; /* italic, normal */
	text-align: center; /* left, center, right, justify*/
	font-family: arial, sans-serif;
	font-size: 1.5rem;
}
